<?xml version="1.0"?>

<launch>
  <node name="rqt_topic" pkg="rqt_topic" type="rqt_topic" />
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
  <!-- Now launch rviz -->
  <include file="$(find p2os_urdf)/launch/upload_pioneer3at.xml"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nre_p3at)/rviz/p3at_base.rviz" output="screen"/>
</launch>

