<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="p0" />
  <arg name="initX" default="0" />
  <arg name="initY" default="0" />
  <arg name="initYaw" default="0" />

  <arg name="port" default="/dev/ttyS0" />
  <group ns="$(arg namespace)">
    <!-- Generate the tf_prefix from the namespace -->
    <arg name="tfpre" default="$(arg namespace)_tf" />
    <!-- Put value on the parameter server in the group's namespace -->
    <param name="tf_prefix" value="$(arg tfpre)" />
    
    <node pkg="rosaria" type="RosAria" name="my_p3at" output="screen">
      <param name="port" value="$(arg port)" />
    </node>

    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nav_sat_driver" output="screen">
      <param name="port" value="/dev/ttyS1"/>
    </node>

    <node pkg="sparkfun_rfid" type="sparkfun_rfid.py" name="sparkfun_rfid" output="screen">
      <param name="port" value="/dev/ttyUSB0" />
    </node>
    
    <node pkg="nre_p3at" type="twist_watchdog.py" name="twist_watchdog" output="screen" />

    <!-- This following lines are taken from the p2os_urdf package-->
    <include file="$(find p2os_urdf)/launch/upload_pioneer3at.xml"/>
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0"/>
      <param name="tf_prefix" value="$(arg tfpre)" />
    </node>
    <node pkg="p2os_urdf" type="p2os_publisher_3at" name="publisher"/>

    <!-- Static offset between map and odometry frames -->
    <!--node pkg="tf" type="static_transform_publisher" name="map_odom_static_broadcaster" args="$(arg initX) $(arg initY) 0 $(arg initYaw) 0 0 /map /$(arg tfpre)/odom 50" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="map_odom_static_broadcaster" args="0 0 0 0 0 0 /map /$(arg tfpre)/odom 50" /-->
    <node type="fake_localization" name="fake_localization" pkg="fake_localization">
      <remap from="base_pose_ground_truth" to="my_p3at/pose"/>
      <remap from="amcl_pose" to="pose"/>
      <param name="odom_frame_id" value="$(arg tfpre)/odom"/>
      <param name="base_frame_id" value="$(arg tfpre)/base_link"/>
      <param name="delta_x" value="$(arg initX)"/>
      <param name="delta_y" value="$(arg initY)"/>
      <param name="delta_yaw" value="$(arg initYaw)"/>
    </node>
  </group>

</launch>