<?xml version="1.0"?>
<launch>

<!-- Use URDF model from AMR -->  
<arg name="urdf" default="$(find amr_robots_description)/urdf/pioneer3at.urdf.xacro" />
<param name="robot_description" command="$(find xacro)/xacro.py $(arg urdf)" />
<arg name="name" default="pioneer3at" />
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg name)" />

</launch>