<?xml version="1.0"?>
<launch>

<!-- Gazebo -->
<arg name="world_name" default="worlds/empty.world"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="gui" value="true"/>
  <arg name="headless" value="false"/>
  <arg name="debug" value="false"/>
</include>

<group ns="p0">
  <include file="$(find nre_p3at)/launch/onep3at.gazebo.launch">
    <arg name="namespace" value="p0" />
    <arg name="initX" value="0" />
    <arg name="initY" value="0" />
    <arg name="initYaw" value="0" />
  </include>
</group>

<group ns="p1">
  <include file="$(find nre_p3at)/launch/onep3at.gazebo.launch">
    <arg name="namespace" value="p1" />
    <arg name="initX" value="-2" />
    <arg name="initY" value="0" />
    <arg name="initYaw" value="0" />
  </include>
</group>

<!-- Start rviz -->
<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nre_p3at)/rviz/p3at_sim_n2.rviz" output="screen"/>-->
</launch>
