<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyS0" />
  <node pkg="rosaria" type="RosAria" name="my_p3at" output="screen">
    <param name="port" value="$(arg port)" />
  </node>

  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nav_sat_driver" output="screen">
    <param name="port" value="/dev/ttyS1"/>
  </node>

  <!--node pkg="um7" type="um7_driver" name="um7" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>-->

  <node pkg="sparkfun_rfid" type="sparkfun_rfid.py" name="sparkfun_rfid" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <node pkg="nre_p3at" type="twist_watchdog.py" name="twist_watchdog" output="screen" />

  <!-- This following lines are taken from the p2os_urdf package-->
  <include file="$(find p2os_urdf)/launch/upload_pioneer3at.xml"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>
  <node pkg="p2os_urdf" type="p2os_publisher_3at" name="publisher"/>


</launch>