<?xml version="1.0"?>
<!-- Note - This is the launch file used by upstart on booting the pionoeers -->
<launch>

 <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" output="screen">
   <param name="mcast_group" value="224.0.0.1" />
 </node>

 <node name="master_sync" pkg="master_discovery_fkie" type="master_sync" output="screen">
</launch>
